$primary_color_dark: #1f2733;
$primary_color_light: lighten(#1f2733, 50%);

$secondary_color_dark: #1abc9c;
$secondary_color_light: #ffb648;

$primary_active_color: dodgerblue;

$state_error_color: #E54D42;
$state_warning_color: #ffb648;
$state_info_color: #1E90FF;
$state_success_color: #1abc9c;

