.display_flex{
  display: flex;
}

.display_flex--justifyContent-spaceBetween{
  justify-content: space-between;
}

.display_flex--justifyItems-center{
  justify-items: center;
}

.display_flex--justifyContent-center{
  justify-content: center;
}

.display_flex--alignItems-center{
  align-items: center;
}
