$html_bg: $primary_color_dark;
$scrollBar_color: $primary_color_dark;

html {
  background-color: $html_bg;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

*::-webkit-scrollbar-track {
  background-color: $scrollBar_color;
}

*::-webkit-scrollbar-thumb {
  background-color: darken($primary_color_dark, 5%);
  border: 0.2rem solid $scrollBar_color;
  @include border-radius(1rem);
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// EDIT MODE

.image_container {
  position: relative;
}
.disableOverflow {
  overflow: hidden;
}
.image_upload {
  position: absolute;
  right: 0;
  left: 0;
  top: -6rem;
  text-align: center;
  label {
    padding: 1rem 2rem;
    background-color: $btn_color;
    font-weight: 600;
    font-size: 1.2rem;
    color: $font_primary_light;
    display: inline-block;
    position: relative;
    @include border-radius(5px);
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 40%;
      width: 0;
      height: 0;
      border: 1rem solid transparent;
      border-top-color: $btn_color;
      border-bottom: 0;
      margin-left: -10px;
      margin-bottom: -10px;
    }
    &:hover {
      background-color: $primary_active_color;
    }
  }
  input {
    visibility: hidden;
    display: none;
  }
}
