//Uncomment what you need or add what is missing (Follow import ordering from styles.scss)
@import "~assets/styles/variables/variables";
@import "~assets/styles/variables/colors";
@import "~assets/styles/helpers/mixins";
//@import "~assets/styles/layout/typography";

$navbar_bg: darken($primary_color_dark, 5%);
$login_bg: $secondary_color_dark;
$text_dark: $primary_color_dark;
$text_light: $primary_color_light;

#navbar {
  background-color: rgba(21, 27, 35, 0.85);
  height: 5rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  @include positionSticky;
}

.logo {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: $secondary_color_dark;
  i {
    color: $secondary_color_light;
    font-size: 2.4rem;
    top: -7px;
  }
}

.navbar_links {
  display: flex;
  align-items: center;
  .register {
    margin-right: 1rem;
  }
  .login {
    color: $text_dark;
    background-color: $login_bg;
    padding: 0 2rem;
    text-transform: uppercase;
    @include fontSemiBold;
    &:hover {
      background-color: lighten($login_bg, 10%);
    }
  }
  &--username {
    margin-right: 1rem;
    font-size: 1.4rem;
    @include fontMedium;
    &-arrow {
      i {
        font-size: 0.6rem;
        margin-left: 0.5rem;
      }
    }
  }
  &--dropdown {
    background-color: darken($navbar_bg, 5%);
    color: $text_light;
    padding: 1rem 2rem;
    z-index: $z_index-dropdown;
    @include border-radius(0 0 0 5px);
    @include fullscreen(absolute, 5rem, 0);
    &-inner {
      ul {
        li {
          line-height: 2rem;
          margin: 0.5rem 0;
          a {
            font-size: 1.2rem;
            @include fontMedium;
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
