//Uncomment what you need or add what is missing (Follow import ordering from styles.scss)
//@import "~assets/styles/variables/variables";
@import "~assets/styles/variables/colors";
@import "~assets/styles/helpers/mixins";
//@import "~assets/styles/layout/typography";

$navbar_bg: darken($primary_color_dark, 5%);
$login_bg: $secondary_color_dark;
$text_dark: $primary_color_dark;

#navbar {
  background-color: $navbar_bg;
  height: 5rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_links {
  display: flex;
  align-items: center;
  .register {
    margin-right: 1rem;
  }
  .login {
    color: $text_dark;
    background-color: $login_bg;
    padding: 0 2rem;
    text-transform: uppercase;
    @include fontSemiBold;
    &:hover {
      background-color: lighten($login_bg, 10%);
    }
  }
}
.logo {
  margin-left: 2rem;
  font-size: 1.6rem;
  color: $secondary_color_dark;
  i {
    font-size: 2.4rem;
    top: -7px;
  }
}
